button {
  color: #161c53;
  cursor: pointer;
  background-color: rgba(218, 213, 237, 0.8);
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 50px 400px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.next {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.next-button {
  font-size: 0.85em;
}

.close-button {
  background-color: #5f275a;
  color: #DAD5ED;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-button {
  color: #DAD5ED;
  cursor: pointer;
  background-color: #5f275a;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 50px 400px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 1.05em;
  width: 100px;
  align-self: center;
}
