// SASS Variables
$font-color: #fff;
$font-emphasis: "Staatliches", cursive;
$font-body: "Cabin", sans-serif;
$accent-color: #dad5ed;
$details-color: #bab8f5ad;
$top-bg: rgba(22, 28, 83, 1);
$shadow: 0 50px 200px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(
    180deg,
    $top-bg 3%,
    rgba(95, 39, 90, 1) 70%,
    rgba(135, 31, 65, 1) 98%
  );
  font-family: $font-body;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0px;
  padding: 2px;
}

main {
  left: 50%;
  max-width: 80%;
  padding: 10px 15px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 47%;
  width: 700px;
  z-index: 10;
}
