.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* flex-basis: 85%; */
}

.fix-title {
  color: #161c53;
  font-size: 1.5rem;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1200px;
  max-width: 100%;
  height: 700px;
  z-index: 10;
  background-color: #e2e1e1;
  transform: translate(-50%, -48%);
  transition: 300ms ease-in-out;
  border: 0px;
  border-radius: 20px;
  z-index: 20;
  padding: 20px 25px;
  font-size: 16px;
}

/* Add styles to the form container */
.form-container {
  height: 90%;
  transition: 300ms ease-in-out;
  font-size: 16px;
}

/* Full-width input fields */
.form-container input[type="text"] {
  width: 100px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#date {
  font-size: 20px;
  font-weight: bold;
}

#add-timeslot {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

#generate-timeslot {
  display: flex;
  flex-direction: column;
}

.new-meeting-time {
  display: flex;
  flex-direction: row;
}

.start-row {
  flex-basis: 40%;
}
