.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.fix-title {
  color: #161c53;
  font-size: 1.5rem;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1200px;
  max-width: 100%;
  height: 700px;
  z-index: 10;
  background-color: #e2e1e1;
  transform: translate(-50%, -48%);
  transition: 300ms ease-in-out;
  border: 0px;
  border-radius: 20px;
  z-index: 20;
  padding: 20px 25px;
  font-size: 16px;
}

/* Add styles to the form container */
#time-container {
  height: 90%;
  transition: 300ms ease-in-out;
  font-size: 16px;
}

/* Full-width input fields */
#time-container input[type="text"] {
  width: 100px;
  padding: 10px;
  margin: 5px 0 15px 10px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  border-radius: 5px;
}

/* When the inputs get focus, do something */
#time-container input[type="text"]:focus,
#time-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Add some hover effects to buttons */
#time-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#date {
  align-self: baseline;
  font-size: 20px;
  font-weight: bold;
}

#add-timeslot {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

#add-timeslots {
  display: none;
}

#generate-timeslot {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.new-meeting-time {
  display: flex;
  flex-direction: row;
}

.start-row {
  flex-basis: 32%;
}
