$accent-color: #dad5ed;
$details-color: #bab8f5ad;
$font-body: "Cabin", sans-serif;
$font-emphasis: "Staatliches", cursive;
$top-bg: rgba(22, 28, 83, 1);

#polling-event {
  display: block;
}

#polling {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  z-index: 10;
  box-shadow: 0 50px 200px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1200px;
  max-width: 100%;
  height: 700px;
  z-index: 10;
  background-color: #e2e1e1;
  transform: translate(-50%, -48%);
  transition: 300ms ease-in-out;
  border: 0px;
  border-radius: 20px;
  z-index: 20;
  padding: 20px 25px;
  font-size: 16px;
}

#generate-voteslot {
  padding-bottom: 5px;
  margin: 1.5em;
  margin-left: 3em;
  margin-right: 3em;
  max-height: 475px;
  overflow-y: auto;
}

.voteslots {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.vote-checkbox {
  display:flex;
  justify-content: center;
  align-content: center;
  margin-right: 2em;
}

.voting-days {
  display: flex;
  flex-direction: column;
  align-content: center;
}
