html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  height: 100px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

p {
  margin: 0px;
  padding: 0px;
}

.eventure, p.eventure {
  color: #DAD5ED;
  font-family: 'Staatliches', cursive;
  font-size: 3em;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, rgba(22,28,83,1) 3%, rgba(95,39,90,1) 70%, rgba(135,31,65,1) 98%);
  font-family: 'Cabin', sans-serif;
}

main {
  left: 50%;
  max-width: 80%;
  padding: 10px 15px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 700px;
  z-index: 10;
}

.catchphrase {
  color: #DAD5ED;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.catchphrase-words {
  font-family: 'Caveat', cursive;
  font-size: 45px;
}

.master-box {
  background-color: rgba(255,255,255, 0.2);
  border-radius:  10px;
  // // left: 50%;
  // max-width: 80%;
  padding: 10px 15px;
  // position: fixed;
  // // transform: translate(-50%, -50%);
  // // top: 50%;
  // width: 700px;
  z-index: 10;
  box-shadow: 0 50px 200px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.master-header {
  align-items: center;
  border-bottom: 1px solid #9B97A8;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.title {
  background-color: inherit;
  border: 0px;
  color: #DAD5ED;
  font-size: 1.25rem;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  width: 100%;
}

.title::placeholder {
  font-family: 'Cabin', sans-serif;
  color: #DAD5ED;
}

.title:focus {
  outline: none;
}

.master-header .close-button {
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.master-body {
  color: #DAD5ED;
  padding: 10px 15px;
}

.submit {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

button {
  color: rgba(22,28,83,1);
  cursor: pointer;
  background-color: rgba(218,213,237, 0.8);
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 50px 400px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
  padding: 0.5em 0.8em;
}

#overlay {
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right: 0;
  opacity: 0;
  position: fixed;
  top: 0;
}

footer {
  bottom: 0;
  color: #B895AD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1.5em;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.star2 {
  background: white;
  width: 100px;
  height: 13px;
  position: absolute;
  top: 6%;
  left: 80%;
  opacity: 0.1;
  border-radius: 10px;
}
.star3 {
  background: white;
  width: 70px;
  height: 13px;
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0.1;
  border-radius: 10px;
}
.star4 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 20%;
  left: 10%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 250ms;
}
.star5 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 30%;
  left: 80%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 750ms;
}
.star6 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 10%;
  left: 90%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 900ms;
}
.star7 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 7%;
  left: 50%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 1s;
}
.star8 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 40%;
  left: 8%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 2s;
}
.star9 {
  background: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 4%;
  left: 28%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 500ms;
}
.star10 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 25%;
  left: 98%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  animation-delay: 660ms;
}
.star11 {
  background: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 68%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes glowing-stars {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}
